- name: Install Docker
  ansible.builtin.import_role:
    name: common
    tasks_from: docker

- name: Start a container
  community.docker.docker_container:
    name: user
    image: public.ecr.aws/w8x4g9h7/roboshop-v3/user
    state: started
    restart: true
    ports:
      - "8080:8080"
    env:
      MONGO: "true"
      MONGO_URL: "mongodb://mongo-dev.rdevopsb87.online:27017/users"
      REDIS_URL: "redis://redis-dev.rdevopsb87.online:6379"

