- name: Download Docker repo file
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/rhel/docker-ce.repo
    dest: /etc/yum.repos.d/docker.repo

- name: Install docker
  ansible.builtin.dnf:
    name: docker-ce
    state: installed

- name: Start Docker
  ansible.builtin.systemd_service:
    name: docker
    enabled: yes
    state: started

- name: Install requests python module
  ansible.builtin.pip:
    name: requests
    executable: pip3.13

- name: Extend last partition with all space # growpart /dev/nvme0n1 4
  community.general.parted:
    device: /dev/nvme0n1
    number: "4"
    part_end: "100%"
    resize: true
    state: present

- name: Extend /var volume # lvextend -r -L +5G /dev/mapper/RootVG-varVol
  community.general.lvol:
    vg: RootVG
    lv: varVol
    size: 100%FREE
    resizefs: true



