- name: Install Docker
  ansible.builtin.import_role:
    name: common
    tasks_from: docker

- name: Start a container
  community.docker.docker_container:
    name: cart
    image: public.ecr.aws/w8x4g9h7/roboshop-v3/cart
    state: started
    restart: true
    ports:
      - "8080:8080"
    env:
      CATALOGUE_HOST: catalogue-dev.rdevopsb87.online
      CATALOGUE_PORT: "8080"
      REDIS_HOST: redis-dev.rdevopsb87.online

